
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>
  <h2 class="text-center">Sign up</h2>

    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
    <%= f.input :password, required: true, label: false, placeholder: "Password", input_html: {class: "form-control"} %>
    <%= f.input :password_confirmation, required: true, label: false, placeholder: "Password Confirmation", input_html: {class: "form-control"} %>

    <%= f.button :submit, "Sign up", class: "btn btn-primary btn-block" %>
<% end %>

<%= render "devise/shared/links" %>
