<%= simple_form_for(@task, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :content, label: false, placeholder: "Content", required: true, autofocus: true, input_html: {class: "form-control"} %>

    <%= f.button :submit, class: "btn btn-lg btn-primary btn-block" %>

<% end %>
