<div class="row">
	<div class="col-md-4">
		<h1 class="text-center">To Do</h1>

		<div class="panel panel-info">
			<div class="panel-heading">Header</div>
			<div class="panel-body">Content</div>
			<div class="panel-footer text-center">Footer</div>
		</div>
	</div>
	<div class="col-md-4">
		<h1 class="text-center">Doing</h1>

	</div>
	<div class="col-md-4">
		<h1 class="text-center">Done</h1>

	</div>
</div>